.history/
.obsidian/
.DS_Store
**/.history
.vscode/
.smart-env
smart-chats/
**/.venv
**/**/**/.venv
References/

# Antigravity Rules
.agent/rules/**/*
!.agent/rules/.gitkeep
# Antigravity Skills
.agent/skills/*
!.agent/skills/.gitkeep
# Antigravity Workflows
.agent/workflows/*
!.agent/workflows/.gitkeep

# opencode Skills
.opencode/skill/
!.opencode/skill/.gitkeep

# Ignore Smart Connections folder
.smart-connections
