.history/
.obsidian/
.DS_Store
**/.history
.vscode/
.smart-env
smart-chats/
**/.venv
**/**/**/.venv
References/

.agent/rules/
.github/instructions/
.github/agents/
.github/prompts/

# Ignore Smart Connections folder
.smart-connections