.history/
.obsidian/
.DS_Store
**/.history
.vscode/
.smart-env
smart-chats/
**/.venv
**/**/**/.venv
References/
.mypy_cache/
.ruff_cache/
.venv/

# opencode Skills
.opencode/skill/
!.opencode/skill/.gitkeep

# Ignore Smart Connections folder
.smart-connections
