[tool.poetry]
    authors     =["hyunyoun Jo <chochyjj@gmail.com>"]
    description =""
    name        ="learned"
    package-mode=false
    readme      ="README.md"
    version     ="0.1.0"
    [tool.poetry.dependencies]
        aiofiles                 ="24.1.0"
        aiohappyeyeballs         ="2.4.0"
        aiohttp                  ="3.10.5"
        aiosignal                ="1.3.1"
        alembic                  ="1.13.2"
        annotated-types          ="0.7.0"
        ansible                  ="^10.4.0"
        anyio                    ="4.4.0"
        apache-airflow-client    ="^2.10.0"
        appdirs                  ="1.4.4"
        asttokens                ="2.4.1"
        asyncer                  ="^0.0.8"
        attrs                    ="24.2.0"
        automat                  ="24.8.1"
        bandit                   ="^1.7.9"
        bcrypt                   ="4.2.0"
        beautifulsoup4           ="^4.12.3"
        bidict                   ="0.23.1"
        black                    ="^24.8.0"
        build                    ="1.2.2"
        cassandra-driver         ="^3.29.2"
        celery                   ="^5.4.0"
        certifi                  ="2024.8.30"
        cffi                     ="1.17.1"
        channels                 ="^4.1.0"
        chardet                  ="5.2.0"
        charset-normalizer       ="3.3.2"
        click                    ="8.1.7"
        colorama                 ="0.4.6"
        comm                     ="0.2.2"
        confluent-kafka          ="^2.5.3"
        connectorx               ="^0.3.3"
        constantly               ="23.10.4"
        coverage                 ="^7.6.1"
        cryptography             ="43.0.1"
        cssselect                ="1.2.0"
        dask                     ="^2024.9.0"
        debugpy                  ="1.8.5"
        decorator                ="5.1.1"
        deprecation              ="2.1.0"
        dill                     ="0.3.8"
        django                   ="^5.1.1"
        djangorestframework      ="^3.15.2"
        dnspython                ="2.6.1"
        docutils                 ="0.21.2"
        duckdb                   ="^1.1.0"
        elasticsearch            ="^8.15.1"
        et-xmlfile               ="1.1.0"
        executing                ="2.1.0"
        falcon                   ="^3.1.3"
        fastapi                  ="0.110.3"
        fastui                   ="^0.7.0"
        filelock                 ="3.16.0"
        flake8                   ="^7.1.1"
        flask                    ="^3.0.3"
        flask-restful            ="^0.3.10"
        frozenlist               ="1.4.1"
        fs                       ="2.4.16"
        fsspec                   ="2024.9.0"
        fugue                    ="^0.9.1"
        getdaft                  ="^0.3.3"
        gevent                   ="^24.2.1"
        gotrue                   ="2.8.1"
        greenlet                 ="3.1.0"
        grpcio                   ="^1.66.1"
        gunicorn                 ="22.0.0"
        h11                      ="0.14.0"
        h2                       ="4.1.0"
        hpack                    ="4.0.0"
        html5tagger              ="1.3.0"
        httpcore                 ="1.0.5"
        httptools                ="0.6.1"
        httpx                    ="0.27.2"
        hyperframe               ="6.0.1"
        hyperlink                ="21.0.0"
        icecream                 ="^2.1.3"
        idna                     ="3.8"
        importlib-metadata       ="8.5.0"
        incremental              ="24.7.2"
        influxdb-client          ="^1.46.0"
        iniconfig                ="2.0.0"
        ipykernel                ="6.29.5"
        ipython                  ="8.27.0"
        jaraco-classes           ="3.4.0"
        jaraco-context           ="6.0.1"
        jaraco-functools         ="4.0.2"
        jedi                     ="0.19.1"
        jinja2                   ="3.1.4"
        jmespath                 ="1.0.1"
        jsonpatch                ="1.33"
        jsonpointer              ="3.0.0"
        jsonschema               ="4.23.0"
        jsonschema-specifications="2023.12.1"
        jupyter-client           ="8.6.2"
        jupyter-core             ="5.7.2"
        justpy                   ="^0.14.0"
        kafka-python             ={git="https://github.com/dpkp/kafka-python.git"}
        keyring                  ="25.3.0"
        langchain                ="0.2.16"
        langchain-core           ="0.2.39"
        langchain-text-splitters ="0.2.4"
        langsmith                ="0.1.120"
        lazy-loader              ="0.4"
        lxml                     ="5.3.0"
        mako                     ="1.3.5"
        markdown                 ="^3.7"
        markdown-it-py           ="3.0.0"
        markupsafe               ="2.1.5"
        matplotlib-inline        ="0.1.7"
        mdurl                    ="0.1.2"
        mechanicalsoup           ="^1.3.0"
        minio                    ="^7.2.8"
        mmh3                     ="4.1.0"
        modin                    ="^0.32.0"
        more-itertools           ="10.5.0"
        msgpack                  ="1.1.0"
        multidict                ="6.1.0"
        mysqlclient              ="^2.2.4"
        neo4j                    ="^5.24.0"
        nest-asyncio             ="1.6.0"
        netaddr                  ="^1.3.0"
        nh3                      ="0.2.18"
        nicegui                  ="^2.1.0"
        numpy                    ="1.26.4"
        opencv-python            ="4.10.0.84"
        openpyxl                 ="3.1.5"
        opensearch-dsl           ="^2.1.0"
        opensearch-py            ="^2.7.1"
        orjson                   ="3.10.7"
        outcome                  ="1.3.0.post0"
        packaging                ="24.1"
        paho-mqtt                ="^2.1.0"
        pandas                   ="2.2.2"
        param                    ="2.1.1"
        paramiko                 ="3.4.1"
        parso                    ="0.8.4"
        pbr                      ="6.1.0"
        pdfminer-six             ="^20240706"
        pipdeptree               ="2.16.2"
        pkginfo                  ="1.10.0"
        platformdirs             ="4.3.2"
        pluggy                   ="1.5.0"
        polars                   ={extras=["all"], version="^1.7.1"}
        postgrest                ="0.16.11"
        prometheus-client        ="0.20.0"
        prompt-toolkit           ="3.0.47"
        protego                  ="0.3.1"
        proto-plus               ="1.24.0"
        protobuf                 ="5.28.1"
        pscript                  ="0.7.7"
        psutil                   ="6.0.0"
        psycopg2                 ="2.9.9"
        pure-eval                ="0.2.3"
        py                       ="1.11.0"
        py4j                     ="0.10.9.7"
        pyarrow                  ="17.0.0"
        pyarrow-hotfix           ="0.6"
        pyasn1                   ="0.6.1"
        pyasn1-modules           ="0.4.1"
        pycodestyle              ="2.12.1"
        pycouchdb                ="1.16.0"
        pycparser                ="2.22"
        pycryptodome             ="3.20.0"
        pydantic                 ="2.9.1"
        pydantic-core            ="2.23.3"
        pydispatcher             ="2.0.7"
        pydub                    ="0.25.1"
        pyflakes                 ="3.2.0"
        pygments                 ="2.18.0"
        pyiceberg                ="0.7.1"
        pyjwt                    ="2.9.0"
        pymemcache               ="4.0.0"
        pymongo                  ="4.8.0"
        pymupdf                  ="1.24.10"
        pymupdfb                 ="1.24.10"
        pymysql                  ="1.1.1"
        pynacl                   ="1.5.0"
        pyopengl                 ="^3.1.7"
        pyparsing                ="3.1.4"
        pypdf                    ="4.3.1"
        pypdfium2                ="4.30.0"
        pyproject-hooks          ="1.1.0"
        pyquery                  ="2.0.1"
        pytest                   ="8.3.3"
        python                   ="^3.12"
        python-dateutil          ="2.9.0.post0"
        python-dotenv            ="1.0.1"
        python-engineio          ="4.9.1"
        python-json-logger       ="2.0.7"
        python-multipart         ="0.0.9"
        python-socketio          ="5.11.4"
        pytz                     ="2024.2"
        pyviz-comms              ="3.0.3"
        pywin32                  ="306"
        pywin32-ctypes           ="0.2.3"
        pywinpty                 ="2.0.13"
        pyyaml                   ="6.0.2"
        pyzmq                    ="26.2.0"
        qtconsole                ="5.6.0"
        qtpy                     ="2.4.1"
        queuelib                 ="1.7.0"
        ray                      ="2.35.0"
        reactivex                ="4.0.4"
        readme-renderer          ="44.0"
        realtime                 ="2.0.2"
        redis                    ={extras=["hiredis"], version="^5.0.8"}
        referencing              ="0.35.1"
        reflex                   ="0.5.10"
        reflex-chakra            ="0.5.10"
        reflex-hosting-cli       ="0.1.13"
        requests                 ="2.32.3"
        requests-file            ="2.1.0"
        requests-toolbelt        ="1.0.0"
        resolvelib               ="1.0.1"
        rfc3339-validator        ="0.1.4"
        rfc3986                  ="2.0.0"
        rfc3986-validator        ="0.1.1"
        rich                     ="13.8.1"
        rpds-py                  ="0.20.0"
        rsa                      ="4.9"
        ruff                     ="0.6.4"
        sanic                    ="24.6.0"
        sanic-routing            ="23.12.0"
        scapy                    ="2.5.0"
        schedule                 ="1.2.2"
        scrapy                   ="^2.11.2"
        send2trash               ="1.8.3"
        setuptools               ="70.1.1"
        shellingham              ="1.5.4"
        simple-websocket         ="1.0.0"
        six                      ="1.16.0"
        sniffio                  ="1.3.1"
        sortedcontainers         ="2.4.0"
        soupsieve                ="2.6"
        sqlalchemy               ="2.0.34"
        sqlmodel                 ="0.0.22"
        sqlparse                 ="0.5.1"
        sshtunnel                ="0.4.0"
        stack-data               ="0.6.3"
        starlette                ="0.37.2"
        starlette-admin          ="0.14.1"
        stevedore                ="5.3.0"
        storage3                 ="0.7.7"
        strenum                  ="0.4.15"
        strictyaml               ="1.7.3"
        supabase                 ="2.7.4"
        supafunc                 ="0.5.1"
        tabulate                 ="0.9.0"
        tblib                    ="3.0.0"
        tenacity                 ="8.5.0"
        terminado                ="0.18.1"
        tinycss2                 ="1.3.0"
        tldextract               ="5.1.2"
        toml                     ="0.10.2"
        tomli                    ="2.0.1"
        tomlkit                  ="0.13.2"
        toolz                    ="0.12.1"
        tornado                  ="6.4.1"
        tqdm                     ="4.66.5"
        tracerite                ="1.1.1"
        traitlets                ="5.14.3"
        translationstring        ="1.4"
        triad                    ="0.9.8"
        trio                     ="0.26.2"
        twine                    ="5.1.1"
        twisted                  ="24.7.0"
        twisted-iocpsupport      ="1.0.4"
        typer                    ="0.12.5"
        types-python-dateutil    ="2.9.0.20240906"
        typing-extensions        ="4.12.2"
        tzdata                   ="2024.1"
        uc-micro-py              ="1.0.3"
        uri-template             ="1.3.0"
        uritemplate              ="4.1.1"
        urllib3                  ="2.2.3"
        uvicorn                  ="0.30.6"
        valkey                   ={extras=["hiredis"], version="^6.0.2"}
        vbuild                   ="0.8.2"
        venusian                 ="3.1.0"
        vine                     ="5.1.0"
        w3lib                    ="2.2.1"
        watchdog                 ="4.0.2"
        watchfiles               ="0.24.0"
        wcwidth                  ="0.2.13"
        webcolors                ="24.8.0"
        webencodings             ="0.5.1"
        webob                    ="1.8.8"
        websocket-client         ="1.8.0"
        websockets               ="12.0"
        werkzeug                 ="3.0.4"
        wheel                    ="0.44.0"
        widgetsnbextension       ="4.0.13"
        wrapt                    ="1.16.0"
        wsproto                  ="1.2.0"
        xlsx2csv                 ="0.8.3"
        xlsxwriter               ="3.2.0"
        xyzservices              ="2024.9.0"
        yapf                     ="0.40.2"
        yarl                     ="1.11.1"
        zict                     ="3.0.0"
        zipp                     ="3.20.1"
        zope-deprecation         ="5.0"
        zope-event               ="5.0"
        zope-interface           ="7.0.3"
    boto3 = "^1.41.4"
    s3transfer = "^0.15.0"
    botocore = "^1.41.4"


[build-system]
    build-backend="poetry.core.masonry.api"
    requires     =["poetry-core"]
