name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  quality-checks:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: 'latest'
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.13

      - name: Install Dependencies
        run: uv sync --all-extras --dev

      - name: Run pre-commit hooks
        run: uv run pre-commit run --all-files --show-diff-on-failure

      - name: Run Tests
        run: |
          if [ -d "tests" ]; then
            uv run pytest
          else
             echo "Tests directory not found. Skipping pytest."
          fi
