name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  lint-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Lint GitHub Actions
        uses: reviewdog/action-actionlint@v1
      - name: Download actionlint
        id: get_actionlint
        run: bash <(curl
          https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
        shell: bash
      - name: Check workflow files
        run: ${{ steps.get_actionlint.outputs.executable }} -color
        shell: bash
  quality-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.13

      - name: Install Dependencies
        run: uv sync --all-extras --dev

      - name: Run Ruff (List & Format)
        run: |
          uv run ruff check .
          uv run ruff format --check .

      - name: Run Mypy (Type Check)
        run: uv run mypy --strict .

      - name: Run Tests
        run: uv run pytest
